/**
 * 1.0 - Basic Patterns.
 * ----------------------------------------------------------------------------------------
 */
/* Normalize.css */
/* The Grid System */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Main Container. */
.container {
  width: 95%;
  margin: 0 auto; }

/* The Columns. */
[class^="col-"] {
  float: left;
  padding: 0 1em; }

/* The Row. */
.row {
  margin-left: -1em;
  margin-right: -1em; }

.row:after {
  content: "";
  display: table;
  clear: both; }

/* Column Widths. */
.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/* Special Classes. */
.col-third {
  width: 33.33333%; }

.col-two-thirds {
  width: 66.66667%; }

.col-half {
  width: 50%; }

.col-quarter {
  width: 25%; }

img {
  max-width: 100%;
  height: auto; }

/* Responsive Behaviour */
@media (max-width: 1024px) {
  [class^="col-"] {
    padding: 0 0.5em; }

  .row {
    margin-left: -0.5em;
    margin-right: -0.5em; } }
@media (max-width: 768px) {
  [class^="col-"] {
    width: 100%; } }
/* Typography */
html {
  font-size: 1em; }

html,
input,
button,
textarea {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  color: #333;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em; }

p {
  margin-bottom: 1.5em; }

a,
a:visited {
  color: #0f82bd; }
  a:hover,
  a:visited:hover {
    color: #333; }

hr {
  border: 0;
  background-color: #ccc;
  height: 1px;
  margin: 1.5em 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0;
  line-height: 1.2; }

h5,
h6 {
  line-height: 1.5;
  line-spacing: 1px;
  text-transform: uppercase; }

h1 {
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.707em; }

ol,
ul {
  margin: 0 0 1.5em 1.5em; }

blockquote {
  color: gray;
  font-style: italic;
  margin-left: 1.5em; }
  blockquote footer {
    font-size: smaller;
    font-style: normal; }

/* Buttons */
button,
.btn,
.btn-primary,
.btn-small,
.btn-large,
a.btn,
a.btn-primary,
a.btn-small,
a.btn-large {
  border: 0;
  border-radius: 3px;
  background-color: #dde2d4;
  color: #333;
  cursor: pointer;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  display: inline-block;
  padding: .75em 1.5em; }
  button:hover,
  .btn:hover,
  .btn-primary:hover,
  .btn-small:hover,
  .btn-large:hover,
  a.btn:hover,
  a.btn-primary:hover,
  a.btn-small:hover,
  a.btn-large:hover {
    background-color: #333;
    color: #ffffff; }
  button:active,
  .btn:active,
  .btn-primary:active,
  .btn-small:active,
  .btn-large:active,
  a.btn:active,
  a.btn-primary:active,
  a.btn-small:active,
  a.btn-large:active {
    background-color: #4d4d4d; }
  button:focus,
  .btn:focus,
  .btn-primary:focus,
  .btn-small:focus,
  .btn-large:focus,
  a.btn:focus,
  a.btn-primary:focus,
  a.btn-small:focus,
  a.btn-large:focus {
    outline: none; }

.btn-primary {
  background-color: #0f82bd;
  color: #d0ecfb; }

.btn-small {
  font-size: 0.75em; }

.btn-large {
  font-size: 2em;
  font-weight: bold; }

/* Forms */
/* Icons */
/* Feedback */
/**
 * ----------------------------------------------------------------------------------------
 * 2.0 - Advanced Patterns.
 * ----------------------------------------------------------------------------------------
 */
/* Navigation */
/* Tabs */
/* Accordions */
/* Carousels */

/*# sourceMappingURL=styles.css.map */
