@import "../settings/settings";

button,
.btn,
a.btn{
  border:0;
  border-radius: $btn-roundness;
  background-color: $btn-default-bg;
  color: $btn-default-text-color;
  cursor: pointer;
  line-height: 1;
  font-family: inherit;
  font-size:inherit;
  text-decoration: none;
  display: inline-block;
  padding: .75em 1.5em;
  &:hover{
    background-color: $text-color;
    color:#ffffff;
  }
  &:active{
    background-color: lighten($text-color,10%);
  }
  &:focus{
    outline: none;
  }
}

.btn-primary{
  @extend .btn;
  background-color: $btn-primary-bg;
  color: $btn-primary-text-color;
}

.btn-small{
  @extend .btn;
  font-size: $btn-small-font-size;
}
.btn-large{
  @extend .btn;
  font-size: $btn-large-font-size;
  font-weight: bold;
}